<template name='diagram'>
    <div class='well'>
        {{> diagramHeader diagram}}
    </div>
    <!-- TODO: Refactor this into style sheets / better stuff -->
    <div style='position:absolute;top:75px;left:0;right:0;bottom:0'>
        <div style='position:relative;width:100%;height:100%'>
            <div style='position:absolute;left:0;top:0;bottom:0;width:20%'>
                My Control Panel
                <a href='/help'>Help</a><br/>
                <a href='/new_diagram'>New Diagram</a><br/>
                {{> diagramShapes}}
            </div>
            <div style='position:absolute;left:20%;top:0;bottom:3px;width:80%'>
                {{> diagramBody}}
            </div>
        </div>
    </div>
</template>

<template name='diagramHeader'>
    Title: {{title}}
</template>

<template name='diagramBody'>
    <div id='{{timestamp}}' style='width:100%;height:100%'class='renderArea'></div>
</template>

<template name='diagramShapes'>
    <ul id='shapes-list' class='nav nav-pills nav-stacked'>
        {{#each types}}
            <li class='nav-item {{#if isSelected type}}active{{/if}}'id='{{type}}'>
                <a href='#'>
                    {{displayName}}
                </a>
            </li>
        {{/each}}
    </ul>
</template>